/*paygo shoppe*/

.nav-justified > li {
    display: table-cell;
    width: 1%
}

.img-circle {
    border-radius: 50%;
    max-width: 100%;
}

.image-upload > input {
    display: none;
}

.footer {
    bottom: 0px;
    height: auto;
    width: 100%;
    position: fixed;
}

.strip {
    padding: 0;
    max-width: 100%;
    display: block;
}

.strip img {
    padding: 0;
    height: 20px;
    width: 100%;
    display: block;
}

.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.myApp_header {
    color: #fff;
    font-size: 14px;
    padding-top: 35px;
    text-align: center;
    font-weight: bold;
}

.myApp_logo {
    margin: 0 auto !important;
    padding-top: 3em;
    padding-bottom: 60px;
}

.myApp_text {
    color: #777;
    font-size: 14px;
    line-height: 1;
}

.myApp_phone {
    font-size: 22px;
    color: #777;
    margin-bottom: 40px;
}

.myApp_otp {
    background: #ff6600;
    margin: 0 auto !important;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    border-color: #ff6600;
    border-radius: 0;
    display: block;
    border: 1px solid;
    padding: 10px 24px;
}

.myApp_save {
    background: rgb(59, 73, 132);
    margin: 40px auto 0 auto !important;
    color: #fff;
    text-transform: uppercase;
    width: 90%;
    font-size: 16px;
    border-color: rgb(59, 73, 132);
    border-radius: 0;
    display: block;
    padding: 10px;
    border: 1px solid;
}

.myApp_confirmotp {
    /*background: #ff6600;*/
    background-image: url("../assets/img/bubble.png");
    color: #fff;
    padding-top: 20px;
    padding-bottom: 104px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 5em;
}

.myApp_confirmbtn {
    background: inherit;
    color: inherit;
    text-transform: uppercase;
    font-size: 16px;
    border-color: #fff;
    border-radius: 0;
    display: block;
    border: none;
    float: right;
    padding-bottom: 26px;
    margin: 26px -5px 0px;
}

.myApp_pill {
    display: block;
    background: #fff;
    color: #333;
}

.myApp_pill.active {
    border-bottom: solid;
    border-color: #ff6600;
}

.myApp_pill:hover, .myApp_pill:focus {
    border-bottom: solid;
    background: transparent;
    border-color: #ff6600;
    color: #333;
    font-weight: 600;
    border-width: 100%;
}

.myApp_formbox {
    padding-top: 30px;
    padding-bottom: 30px;
}

.myApp_formbox p {

    padding-top: 30px;
    font-size: 14px;
    font-weight: 600;
}

.myApp_radio {
    padding-top: 30px;
    font-size: 14px;
    font-weight: 600;
}

.myApp_boxtxt {
    margin: 15px 15px;
    margin: 0 auto;
    width: 100%;
    border: 0;
    border-bottom: 1px dotted #777;
    padding-bottom: 10px;
    margin-bottom: 30px;
    text-transform: uppercase;

}

select.myApp_class {
    font-size: 14px;
    color: #777;
    border: none;
    border-bottom: 1px dashed #e0e0e0;
    padding: 5px 0px 6px;
    margin-bottom: 26px;
    margin-left: 21px;
}

input#date {
    font-size: 14px;
    color: #777;
    border: none;
    border-bottom: 1px dotted #777;
    padding: 4px 0px 8px;
}

.row.myApp_image {
    padding: 31px;
    text-align: center;
}

/*myApp*/
label {
    padding: 15px 0px;
}

img.myApp-chnge_img {
    width: 34%;
    height: auto;
    position: relative;
    left: 56px;
    bottom: 45px;
}

.myApp_card {
    padding: 60px;
}

.id-card {
    width:100%;
    height:400px;
    display: block;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 75px 10px 10px 10px;
}

.id-image {
    width: 35%;
    margin:60px auto 0 auto;
    display: block;
    position: relative;
}
.id-image img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
}

.id-name {
    font-size: 24px;
    text-align: center;
    width: 100%;
    margin: 10px 0 0 0;
}

.id-number {
    position: absolute;
    transform: rotate(90deg);
    width: 100px;
    left: 60%;
    top: 45px;
    font-size: 14px;
}
.id-address {
    font-size: 14px;
    word-break: break-all;
}
button.blood-group {
    border: none;
    background: #ffef5a;
    padding: 5px 10px;
    color: #000;
}

.id-class-name {
    font-weight: bold;
    text-align: center;
}

.id-name-bold {
    font-size: 24px;
    text-align: center;
    width: 100%;
    font-weight: bold;
    margin: 0;
}

.id-card.front {
    background-image: url("../img/front_template.png");
}

.id-card.back {
    background-image: url("../img/back_template.png");
}

.margin0 {
    margin: 0 !important;
}

.padding0 {
    padding: 0 !important;
}

.carousel-control.left {
    background-image: none;
    color: blue;

}

.carousel-control.right {
    background-image: none;
    color: blue;

}

.carousel-control {
    position: absolute;
    top: 45%;
    bottom: 0;
}

.row.myApp_button {
    text-align: center;
    margin-bottom: 15px;
    margin-top: -22px;
}

button.myApp_btn {
    padding: 7px 55px;
    background-color: #ee7502;
    border: 1px solid #fe9100;
    border-radius: 2px;
    color: #fff;
    margin-bottom: 50px;
}

button.myApp_btn_two {
    padding: 7px 15px;
    background-color: #00b77e;
    border: 1px solid #00b77e;
    border-radius: 2px;
    color: #fff;
}

.row.myApp_bton {
    padding: 0px 6px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: -20px;
}

p.myApp_otp_p {
    font-size: 17px;
}

.form-control::-webkit-input-placeholder {
    color: #6b6b6b;
}

/* WebKit, Blink, Edge */
.form-control:-moz-placeholder {
    color: #6b6b6b;
}

/* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {
    color: #6b6b6b;
}

/* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {
    color: #6b6b6b;
}

/* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {
    color: #6b6b6b;
}

/* Microsoft Edge */

/*-----*/

.modal-dialog {
    margin-top: 10% !important;

    width: 25% !important;
}

.modal-open .modal {

    background: rgba(47, 50, 51, 0.6) !important;
}

.modal-backdrop {
    background: none !important;

    z-index: 1 !important;
}

.modal-header {

    border: none !important;
}

.modal-footer {

    border: none !important;
}

.bot {
    margin-top: 20px;
    width: 100%;
    display: inline-block;
}

.bot p {
    font-size: 15px;
    color: #6d7175;
}

.price {
    font-weight: bold;
    float: left;
    font-size: 15px;
    color: #1dc7ea
}

.selct {
    float: right
}

.pro_img img {
    width: 100%;
    display: inline-block;
    height: 355px;
}

.hover_pro:hover {

    cursor: pointer;
    -webkit-box-shadow: 0px -1px 32px -5px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px -1px 32px -5px rgba(0, 0, 0, 0.46);
    box-shadow: 0px -1px 32px -5px rgba(0, 0, 0, 0.46);
    transition: all 0.3s ease-in-out;
}

/*paygo shoppe*/

/* utilities */
div.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 10%;
}

@media screen and (min-width: 300px) and (max-width: 768px) {

    .modal-dialog {

        margin: 0 auto;
        margin-top: 10% !important;

        width: 70% !important;
    }

    .bx3 .ent_txt {
        width: 95% !important;
        margin: 14px 10px !important;
    }

    .bx3 {
        width: 100% !important;
    }

    div.tab {
        width: 100% !important;
    }
}

/* Style the buttons inside the tab */
div.tab button {
    border: 1px solid #fff !important;
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    /*<!--    border: 1px solid #ccc;-->*/
    width: 88%;
    border-left: none;
}

.pad_top_bot {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.ent_txt {
    margin: 15px 15px;
    margin: 0 auto;
    width: 35%;
    border: 0;
    border-bottom: 1px dotted #777;
}

.box3 {
    width: 100%;
    display: inline-block;
    margin-top: 29px;
}

.bx3 {
    width: 30%;
    float: left;
    text-align: center;
}

/*utilities*/

.grey {
    color: #999 !important;
}

.bricrum li {
    float: left;
    list-style: none;
    padding: 0 5px;
}

.bricrum li a {
    color: #666;
}

.bricrum {
    display: inline-block;
    padding: 0;
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 11px;
}

.card_dotted_border {
    border-radius: 4px;
    border: 2px dashed rgb(218, 223, 227);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
    background-color: #FFFFFF;
}

.pdng35 {
    padding: 35px;
}

.bricrum {
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 18px;
}

.card_dotted_border {
    border-radius: 4px;
    border: 2px dashed rgb(218, 223, 227);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
    background-color: #FFFFFF;
}

.pdng35 {
    padding: 35px;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    overflow-y: scroll;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.drop {
    /* width: 96%; */
    /* height: 96%; */
    border: 2px dashed #DADFE3;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    background: white;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    margin: auto; /* position: absolute; *//* top: 0; */
    /* left: 0; */
    /* bottom: 0; */
    /* right: 0; */
}

.drop .cont {
    width: 500px;
    /* height: 170px; */
    color: #8E99A5;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    margin: auto; /* position: absolute; *//* top: 0; */
    /* left: 0; */
    /* bottom: 0; */
    /* right: 0; */
}

.drop .cont i {
    font-size: 400%;
    color: #8E99A5;
    position: relative;
}

.drop .cont .tit {
    font-size: 15px;
    text-transform: uppercase;
}

.drop .cont .desc {
    color: #A4AEBB;
}

.drop .cont .browse {
    text-transform: uppercase;
    width: 210px;
    margin: 0 auto;
    margin-top: 15px;
    color: white;
    padding: 12px 16px;
    border-radius: 25px;
    background: #1dc7ea;
    -webkit-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
}

.drop input {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: red;
    opacity: 0;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#list {
    width: 100%;
    text-align: left;
    position: absolute;
    left: 0;
    top: 0;
}

#list .thumb {
    height: 75px;
    border: 1px solid #323a44;
    margin: 10px 5px 0 0;
}

.sample_txt {
    font-size: 13px;
    text-transform: uppercase;
    color: #646469;
}

.smpl_tmp {
    background: url(assets/img/icon_excel.png) no-repeat;
    width: 88px;
    height: 88px;
}

.drop .cont .browse2 {
    text-transform: uppercase !important;
    margin: 0 auto;
    margin-top: 15px;
    color: white;
    padding: 12px 16px;
}

.pdng25 {
    padding: 25px;
}

.dragbox {
    margin-bottom: 25px;
}

.bundle {
    border: 1px solid #ccc;
    width: 49%;
}

.add {
    float: right;
    background: url(../../assets/img/but_add.png) no-repeat;
    width: 31px;
    height: 31px;
    border: none
}

.title_main {
    font-size: 20px;
}

.filter_nav {
    margin-right: 5px;
    background: #f7f7f8;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    padding: 2px 10px;
}

.filter_nav li a {
    color: #848487;
    padding: 3px 5px;
}

.filter_nav li a p {
    margin: 0;
}

.filter_nav li {
    float: left;
}

.filter_nav li i {
    color: #ccc;
    margin-top: 5px;
}

.filter_drop li {
    width: 100%;
}

.filter_drop {
    width: 320px;
    padding: 6px;
}

.sample_template {
    min-height: 197px;
    text-transform: uppercase;
    font-size: 12px;
    color: #989a9c;
    font-weight: normal;
    padding: 35px 20px;
}

.mrg_bot {
    margin-bottom: 25px;
}

.recharge_but:hover {
    color: #000
}

.recharge_but {
    border: none;
    -webkit-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
    background: #1dc7ea;
    color: #fff;
    padding: 15px 28px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 25px;
}

.txt25 {
    font-size: 25px;
}

.search-form .form-group {
    float: right !important;
    transition: all 0.35s, border-radius 0s;
    width: 32px;
    height: 32px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 25px;
    border: 1px solid #ccc;
}

.search-form .form-group input.form-control {
    padding-right: 20px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display: block;
}

.search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
}

.search-form .form-group input.form-control:-moz-placeholder {
    /* Firefox 18- */
    display: none;
}

.search-form .form-group input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    display: none;
}

.search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
}

.search-form .form-group:hover, .search-form .form-group.hover {
    width: 100%;
    border-radius: 25px;
}

.search-form .form-group span.form-control-feedback {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #3596e0;
    left: initial;
    font-size: 14px;
}

.form-control:focus {
    border-color: #0000ff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 255, 0.075), 0 0 8px rgba(0, 0, 255, 0.6);
}

/* side bar */

.side_nav li a i {
    line-height: 10px !important;
}

/* side bar */

/**
 * Circle Styles
 */

.circle {
    position: relative;
    display: block;
    margin: 2em 0;
    background-color: transparent;
    color: #222;
    text-align: center;
}

.circle:hover:after {
    -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.6);
    -moz-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.6);
    box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.6);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.circle:after {
    display: block;
    padding-bottom: 100%;
    width: 100%;
    height: 0;
    border-radius: 50%;
    border: #dddddd 1px solid;
    background-color: #fff;
    content: "";
}

.circle__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.circle__wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.circle__content {
    display: table-cell;
    padding: 1em;
    vertical-align: middle;
}

.icon_big {
    margin-bottom: 1.8em;
}

.block3 {
    padding: 3% !important;
}

@media screen and (min-width: 300px) and (max-width: 768px) {
    .filter_nav {
        margin-bottom: 15px;
    }

    .recharge_but {
        margin: auto !important;
        margin-top: 10px !important;
    }

    .filter_drop {
        left: -247px;
    }

    .icon_big img {
        width: 50% !important;
    }
}

@media (min-width: 480px) {
    .circle__content {
        font-size: 1em;
    }
}

@media (min-width: 768px) {
    .circle__content {
        font-size: 1.4em;
    }
}

/* home*/

/* login*/

.bg_login {
    margin: auto;
    padding: auto;
    display: block;
    background: #6bcff7 url(../../assets/img/img-3.png) no-repeat bottom center;
    width: 100%;
    -webkit-background-size: 100%;
    background-size: 100%;
}

/*full width code*/
.pdng45 {
    padding: 45px;
}

.time {
    line-height: 1;
    font-size: 70px;
}

.time_rght {
    /*margin-right: 10%;*/
    margin-top: 50px;
    margin-bottom: 20px;
}

.wight {
    color: #fff;
}

.txt18 {
    font-size: 18px;
}

.txt15 {
    font-size: 15px;
}

.logo_login {
    width: 100%;
    text-align: center;
    margin-top: 65px;
}

/*edit margin-top size*/
.form-box {
    background-color: rgba(0, 0, 0, .5);
    color: white;
    margin: 0 auto;
    margin-bottom: 20px;
}

.txt_center {
    text-align: center;
}

.heading {
    font-size: 35px !important;
}

.txt15 {
    font-size: 14px;
}

/*reset font size*/
.submit_but {
    background: #12a5d9;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    padding: 13px 0;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 50px;
}

.txt_fld {
    margin: 15px 15px;
    margin: 0 auto;
    width: 100%;
    border: 0;
    border-bottom: 1px dotted #777;
    padding-bottom: 10px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.text-white {
    color: #fff;
    text-align: center;
}

.powerd {
    color: #3CF
}

.foot_powerdby {
    margin-right: 35px;
}

/* login*/

@media screen and (min-width: 300px) and (max-width: 768px) {
    .foot_powerdby {
        float: none !important;
        margin: 0 auto !important;
        text-align: center;
    }
}

@media screen and (min-width: 300px) and (max-width: 768px) {
    .pull-right {
        float: none !important;
        margin: 0 auto !important;
        text-align: left; /*add textalign code*/
    }

    .pay_logo {
        margin: 0 auto !important;
    }
}

@media (min-width: 992px) {
    .typo-line {
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category {
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

.all-icons [class*="pe-"] {
    font-size: 40px;
}

.all-icons input {
    border: 0;
}

.all-icons .font-icon-detail {
    text-align: center;
    padding: 45px 0px 30px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    margin: 15px 0;
}

.all-icons .font-icon-detail input {
    margin: 25px auto 0;
    width: 100%;
    text-align: center;
    display: block;
    color: #aaa;
    font-size: 13px;
}

#map {
    position: relative;
    width: 100%;
    height: calc(100% - 60px);
}

.places-buttons .btn {
    margin-bottom: 30px
}

.sidebar .nav > li.active-pro {
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.sidebar .nav > li.active-pro a {
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

.table-upgrade td:nth-child(2), .table-upgrade td:nth-child(3) {
    text-align: center;
}

.pull-left {
    float: none !important;
}

/*loader*/
.loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: -90px;
    margin: auto;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.dot {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 13px;
    height: 13px;
    border-radius: 100%;
}

.dot:nth-child(1) {
    background-color: #f44336;
    -webkit-animation: jump--1 0.666s linear infinite;
    animation: jump--1 0.666s linear infinite;
    box-shadow: rgba(255, 255, 255, 0.6) 0 0 2px 2px, #f44336 0 0 12px 0;
}

.dot:nth-child(2) {
    background-color: #f1c40f;
    -webkit-animation: jump--2 0.666s linear infinite;
    animation: jump--2 0.666s linear infinite;
    box-shadow: rgba(255, 255, 255, 0.6) 0 0 2px 2px, #f1c40f 0 0 12px 0;
}

.dot:nth-child(3) {
    background-color: #03A9F4;
    -webkit-animation: jump--3 0.666s linear infinite;
    animation: jump--3 0.666s linear infinite;
    box-shadow: rgba(255, 255, 255, 0.6) 0 0 2px 2px, #03A9F4 0 0 12px 0;
}

@-webkit-keyframes jump--1 {
    0% {
        -webkit-transform: translate3d(0, 0, 0) scale(2);
        transform: translate3d(0, 0, 0) scale(2);
    }
    12.5% {
        -webkit-transform: translate3d(41.66667%, -142.85714%, 0);
        transform: translate3d(41.66667%, -142.85714%, 0);
    }
    25% {
        -webkit-transform: translate3d(250%, -250%, 0);
        transform: translate3d(250%, -250%, 0);
    }
    37.5% {
        -webkit-transform: translate3d(500%, 250%, 0);
        transform: translate3d(500%, 250%, 0);
    }
    50% {
        -webkit-transform: translate3d(500%, 0, 0);
        transform: translate3d(500%, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0) scale(2);
        transform: translate3d(0, 0, 0) scale(2);
    }
}

@keyframes jump--1 {
    0% {
        -webkit-transform: translate3d(0, 0, 0) scale(2);
        transform: translate3d(0, 0, 0) scale(2);
    }
    12.5% {
        -webkit-transform: translate3d(41.66667%, -142.85714%, 0);
        transform: translate3d(41.66667%, -142.85714%, 0);
    }
    25% {
        -webkit-transform: translate3d(250%, -250%, 0);
        transform: translate3d(250%, -250%, 0);
    }
    37.5% {
        -webkit-transform: translate3d(500%, 250%, 0);
        transform: translate3d(500%, 250%, 0);
    }
    50% {
        -webkit-transform: translate3d(500%, 0, 0);
        transform: translate3d(500%, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0) scale(2);
        transform: translate3d(0, 0, 0) scale(2);
    }
}

@-webkit-keyframes jump--2 {
    0% {
        -webkit-transform: translate3d(250%, 0, 0);
        transform: translate3d(250%, 0, 0);
    }
    25% {
        -webkit-transform: translate3d(0, 0, 0) scale(2);
        transform: translate3d(0, 0, 0) scale(2);
    }
    37.5% {
        -webkit-transform: translate3d(41.66667%, -142.85714%, 0);
        transform: translate3d(41.66667%, -142.85714%, 0);
    }
    50% {
        -webkit-transform: translate3d(250%, -250%, 0);
        transform: translate3d(250%, -250%, 0);
    }
    62.5% {
        -webkit-transform: translate3d(500%, 250%, 0);
        transform: translate3d(500%, 250%, 0);
    }
    75% {
        -webkit-transform: translate3d(500%, 0, 0);
        transform: translate3d(500%, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(250%, 0, 0);
        transform: translate3d(250%, 0, 0);
    }
}

@keyframes jump--2 {
    0% {
        -webkit-transform: translate3d(250%, 0, 0);
        transform: translate3d(250%, 0, 0);
    }
    25% {
        -webkit-transform: translate3d(0, 0, 0) scale(2);
        transform: translate3d(0, 0, 0) scale(2);
    }
    37.5% {
        -webkit-transform: translate3d(41.66667%, -142.85714%, 0);
        transform: translate3d(41.66667%, -142.85714%, 0);
    }
    50% {
        -webkit-transform: translate3d(250%, -250%, 0);
        transform: translate3d(250%, -250%, 0);
    }
    62.5% {
        -webkit-transform: translate3d(500%, 250%, 0);
        transform: translate3d(500%, 250%, 0);
    }
    75% {
        -webkit-transform: translate3d(500%, 0, 0);
        transform: translate3d(500%, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(250%, 0, 0);
        transform: translate3d(250%, 0, 0);
    }
}

@-webkit-keyframes jump--3 {
    0% {
        -webkit-transform: translate3d(500%, 0, 0);
        transform: translate3d(500%, 0, 0);
    }
    50% {
        -webkit-transform: translate3d(0, 0, 0) scale(2);
        transform: translate3d(0, 0, 0) scale(2);
    }
    62.5% {
        -webkit-transform: translate3d(41.66667%, -142.85714%, 0);
        transform: translate3d(41.66667%, -142.85714%, 0);
    }
    75% {
        -webkit-transform: translate3d(250%, -250%, 0);
        transform: translate3d(250%, -250%, 0);
    }
    87.5% {
        -webkit-transform: translate3d(500%, 250%, 0);
        transform: translate3d(500%, 250%, 0);
    }
    100% {
        -webkit-transform: translate3d(500%, 0, 0);
        transform: translate3d(500%, 0, 0);
    }
}

@keyframes jump--3 {
    0% {
        -webkit-transform: translate3d(500%, 0, 0);
        transform: translate3d(500%, 0, 0);
    }
    50% {
        -webkit-transform: translate3d(0, 0, 0) scale(2);
        transform: translate3d(0, 0, 0) scale(2);
    }
    62.5% {
        -webkit-transform: translate3d(41.66667%, -142.85714%, 0);
        transform: translate3d(41.66667%, -142.85714%, 0);
    }
    75% {
        -webkit-transform: translate3d(250%, -250%, 0);
        transform: translate3d(250%, -250%, 0);
    }
    87.5% {
        -webkit-transform: translate3d(500%, 250%, 0);
        transform: translate3d(500%, 250%, 0);
    }
    100% {
        -webkit-transform: translate3d(500%, 0, 0);
        transform: translate3d(500%, 0, 0);
    }
}

.tooltip-inner {
    max-width: 300px !important;
}

.form-row {
    position: relative;
}

.tooltip-arrow {
    right: 20px !important;
    left: auto !important;
    border-bottom-color: #ff0000 !important;
}

.tooltip.bottom {
    top: 100px !important;
    right: 0 !important;
}

.tooltip-inner {
    background: #ff0000;
    padding: 5px 10px;
}

/* Loader Style */
.spinner {
    margin: 10px auto 0;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner > div.bounce1 {
    background-color: #ffe569;
}

.spinner > div.bounce2 {
    background-color: #ff7c64;
}

.spinner > div.bounce3 {
    background-color: #8fe6ff;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.index-page {
    position: absolute;
    top: 40%;
    width: 100%;
}

.index-page .logo {
    width: 200px;
    height: 80px;
    margin: 0 auto;
    display: block;
    background: url("../img/myApp-720.png") no-repeat;
    background-size: 100%;
}

.header-logo img {
    width: 150px;
}

.header-logo {
    margin: 15px 0;
}

ul.child-list {
    list-style-type: none;
    margin-bottom: 30px;
    float: left;
    width: 100%;
    padding: 0;
}

ul.child-list li {
    float: left;
    width: 50%;
}

ul.child-list li img {
    width: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

ul.child-list li .name {
    font-size: 13px;
    margin: 5px 0;
}

ul.child-list li .child-image {
    width: 55%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 0 auto;
}

ul.child-list li .child-image img.pressed {
    display: none;
}

ul.child-list li.selected .child-image {
    background: #29cc31;
    opacity: 0.7;
}

ul.child-list li.selected .child-image img {
    display: none;
}

ul.child-list li.selected .child-image img.pressed {
    display: block !important;
}

.content {
    overflow-y: scroll;
}

.nav-justified {
    margin-top: 10px;
}

.footer-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-menu ul {
    list-style-type: none;
    width:100%;
    margin: 0;
    padding: 0;
    float: left;
    background: url("../img/footer_menu_box.png");
    background-position: bottom left;
    border-top: 1px solid #EEEEEE;
}

.footer-menu ul li {
    width:25%;
    float: left;
    display: block;
    margin: 0;
    border-right: 1px solid #EEEEEE;
    padding: 7px 0;
}
.footer-menu ul li:last-child {
    border: 0;
}
.footer-menu ul li a {
    width: 100%;
    float: left;
    color: rgba(72, 72, 72, 0.84);
    font-size: 13px;
}

.footer-menu ul li a span {
    width: 100%;
    float: left;
    text-align: center;
}

.top-navigation {
    float: left;
    width: 100%;
    padding: 10px 0;
    position: relative;
}

.top-navigation .left-nav-opener {
    width:30px;
    background: url("../img/menu.png") no-repeat;
    height: 30px;
    float: left;
    display: block;
    -webkit-background-size: 100%;
    background-size: 100%;
    margin-left: 10px;
    position: absolute;
}

.top-navigation.colored .left-nav-opener {
    background: url("../img/menu-white.png") no-repeat;
    -webkit-background-size: 100% !important;
    background-size: 100% !important;
}

.top-navigation .page-title {
    width: 100%;
    float: left;
    text-align: center;
    font-weight:bold;
    line-height: 25px;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 5px;
}

.top-navigation.colored .page-title {
    color: #ffffff !important;
}

.top-navigation ul {
    list-style-type: none;
    float: right;
    position: absolute;
    right:0;
    top: 10px;
    width: 130px;
}

.top-navigation  div > ul li {
    margin-right: 10px;
    position: relative;
    width: 30px;
    float: left;
}
.top-navigation ul li.popover-menu {
    margin-right: 0 !important;
}
.top-navigation ul li.notification > a {
    width:30px;
    background: url("../img/bell-black.png") no-repeat;
    height: 30px;
    float: left;
    display: block;
    -webkit-background-size: 100%;
    background-size: 100%;
}

.top-navigation.colored ul li.notification > a {
    background: url("../img/bell.png") no-repeat !important;
    -webkit-background-size: 100%  !important;
    background-size: 100%  !important;
}

.top-navigation ul li.popover-menu > a {
    width:30px;
    background: url("../img/dot_menu_black.png") no-repeat;
    height: 30px;
    float: left;
    display: block;
    -webkit-background-size: 100%;
    background-size: 100%;
}

.top-navigation.colored ul li.popover-menu > a {
    background: url("../img/dot_menu.png") no-repeat !important;
    -webkit-background-size: 100% !important;
    background-size: 100% !important;
}
.top-navigation .popover-menu ul {
    padding: 10px;
    border: 1px solid #eee;
    position: absolute;
    width: 130px;
    top: 32px;
    right: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #FFFFFF;
    -webkit-box-shadow: 1px 2px 8px #EEEEEE;
    -moz-box-shadow: 1px 2px 8px #EEEEEE;
    box-shadow: 1px 2px 8px #EEEEEE;
    display: none;
}
.top-navigation .popover-menu.active ul {
    display: block !important;
}
.top-navigation .popover-menu ul li a {
    padding: 5px 10px;
    color: #444444;
    float: left;
    width: 100%;
}

.top-navigation ul li ul li {
    width: 100%;
}

.page-content .slider-section {
    width: 100%;
    background: url(../img/banner.png) no-repeat bottom center;
    -webkit-background-size: 100%;
    background-size: 100%;
    height: 250px;
}

.page-content .slider-section .logo-section img{
    width: 30%;
    margin: 20px 0;
}

.event-slider {
    width: 100%;
    float: left;
    display: block;
}

.event-slider .item {
    width:90%;
    float: left;
    margin-left: 5%;
}
.event-slider .item p {
    color: #444444;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
}
.event-slider .item p.event-title {
    font-size: 20px;
    color: #e41b13;
    text-transform: uppercase;
    font-weight: bold;
}

.event-slider .event-icon {
    width: 50px;
    float: left;
}

.event-slider .event-icon img {
    width: 100%;
}

.event-slider .event-desc {
    width: 80%;
    float: left;
    margin-left: 20px;
}

.menu-section {
    float: left;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.menu-section ul {
    list-style-type: none;
}

.menu-section ul li {
    float: left;
    width:50%;
    display: block;
    min-height: 150px;
    padding: 30px 20px;
}

.menu-section ul li a, .menu-section ul li a span {
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    float: left;
    line-height: 30px;
}

.menu-section ul li img {
    width: 50px;
}

.menu-section ul li:first-child {
    background: #ee1b59;
}

.menu-section ul li:nth-child(2) {
    background: #7cb342;
}

.menu-section ul li:nth-child(3) {
    background: #ffa900;
}
.menu-section ul li:nth-child(4) {
    background: #2c2854;
}

.page-content {
    overflow-y: auto;
    width: 100%;
    display: block;
    background: #f5f8ff;
}
.top-navigation.colored {
    background: #343e72;
}

ul.notification {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 90%;
    float: left;
    margin: 20px 0 0 5%;
}

.notification li {
    padding: 10px;
    width: 100%;
    float: left;
    display: block;
    background: #f5f8ff;
    margin-bottom: 10px;
    border-bottom: 1px solid #dddddd;
    
}

.notification li .title {
    text-transform: uppercase;
    font-weight: bold;
    color: #343e72;
}

.notification li.unread {   
    border: 1px solid #eeeeee;
    box-shadow: 1px 2px 8px #eeeeee;    
    border-left: 3px solid #343e72; 
    background: #ffffff;
}