/*paygo shoppe*/


.nav-justified > li {
    display: table-cell; 
    width: 1%
}

.img-circle{
	border-radius:50%;
	max-width: 100%;
}

.footer {
    bottom:0;
    height:auto;
    width: 100%;
}



.strip{
	padding: 0;
	max-width:100%;
    display: block;
}

.strip img{
	padding: 0;
	height: 20px;
	width: 100%;
    display: block;
}

.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Button 1 */
.btn-1 {
	border: 3px solid #fff;
	color: #fff;
}

/* Button 1a */
.btn-1a:hover,
.btn-1a:active {
	color: #ff6600;
	background: #fff;
	border-color: #ff6600;
}

.btn-2 {
	border: 3px solid #fff;
	color: #fff;
}

/* Button 1a */
.btn-2a:hover,
.btn-2a:active {
	color: #ff6600;
	background: #fff;
	border-color: #ff6600;
}

.btn-3 {
	border: 3px solid #fff;
	color: #fff;
}

/* Button 1a */
.btn-3a:hover,
.btn-3a:active {
	color: rgb(59, 73, 132);
	background: #fff;
	border-color: rgb(59, 73, 132);
}

.myApp_header{
	color: #fff;
	font-size: 14px;
	padding-top: 15px;
	text-align: center;
}

.myApp_logo{
	margin: 0 auto !important;
	padding-top: 3em;
	padding-bottom: 60px;
}

.myApp_text{
	color:#777;
	font-size:14px;
	line-height: 1;
}

.myApp_phone{
	font-size:22px;
	color: #777;
	margin-bottom: 40px;
}


.myApp_otp{
	background: #ff6600;
	margin: 0 auto !important;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	border-color: #ff6600;
	border-radius: 0;
	display: block;
}

.myApp_save{
	background: rgb(59, 73, 132);
	margin: 40px auto 0 auto !important;
	color: #fff;
	text-transform: uppercase;
	width: 90%;
	font-size: 16px;
	border-color: rgb(59, 73, 132);
	border-radius: 0;
	display: block;
}


.myApp_confirmotp{
	background: #ff6600;
	color: #fff;
	padding-top: 20px;
	padding-bottom: 30px;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 5em;
}

.myApp_confirmbtn{
	background: inherit;
	margin: 30px auto 0px auto !important;
	color: inherit;
	text-transform: uppercase;
	font-size: 16px;
	border-color: #fff;
	border-radius: 0;
	display: block;
}

.myApp_pill{
	display:block;
	background: #fff;
	color: #333;
}


.myApp_pill.active{
	border-bottom:solid;
	border-color: #ff6600;
}

.myApp_pill:hover,.myApp_pill:focus{
	border-bottom:solid;
	background: transparent;
	border-color: #ff6600;
	color: #333;
	font-weight: 600;
	border-width: 100%;
}

.myApp_formbox{
	padding: 30px;
}

.myApp_formbox p{

	padding-top: 30px;
	font-size: 14px;
	font-weight: 600;
}

.myApp_boxtxt{
	margin: 15px 15px;
	margin: 0 auto;
	width: 100%;
	border: 0;
	border-bottom: 1px dashed #ccc;
	padding-bottom: 10px;

}


/*-----*/

 .modal-dialog {
			  margin-top:10% !important;
			  
			  width:25% !important;}
		  
		  .modal-open .modal {
			  
			      background: rgba(47, 50, 51, 0.6) !important;
			  }
		  
		.modal-backdrop {
			background:none !important;
			
			z-index:1 !important;}
			
			.modal-header {
				
				border:none !important;}
						
		.modal-footer {
				
				border:none !important;}


.bot {
	margin-top: 20px;
	width: 100%;
	display: inline-block;
}
.bot p {
	font-size: 15px;
	color: #6d7175;
}
.price {
	font-weight: bold;
	float: left;
	font-size: 15px;
	color: #1dc7ea
}
.selct {
	float: right
}
.pro_img img {
	width: 100%;
	display: inline-block;
	height: 355px;
}
.hover_pro:hover {
	
	cursor:pointer;
	-webkit-box-shadow: 0px -1px 32px -5px rgba(0,0,0,0.46);
	-moz-box-shadow: 0px -1px 32px -5px rgba(0,0,0,0.46);
	box-shadow: 0px -1px 32px -5px rgba(0,0,0,0.46);
	transition: all 0.3s ease-in-out;
}
/*paygo shoppe*/


/* utilities */
div.tab {
	float: left;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	width: 10%;
}
 @media screen and (min-width:300px) and (max-width:768px) {
	 
	  .modal-dialog {
		  
		  margin:0 auto;
			  margin-top:10% !important;
			  
			  width:70% !important;}
.bx3 .ent_txt {
	width: 95% !important;
	margin: 14px 10px !important;
}
.bx3 {
	width: 100% !important;
}
div.tab {
	width: 100% !important;
}
}
/* Style the buttons inside the tab */
div.tab button {
	border: 1px solid #fff !important;
	display: block;
	background-color: inherit;
	color: black;
	padding: 22px 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.3s;
	font-size: 17px;
}
/* Change background color of buttons on hover */
div.tab button:hover {
	background-color: #ddd;
}
/* Create an active/current "tab button" class */
div.tab button.active {
	background-color: #ccc;
}
/* Style the tab content */
.tabcontent {
	float: left;
	padding: 0px 12px;
	/*<!--    border: 1px solid #ccc;-->*/
	width: 88%;
	border-left: none;
}
.pad_top_bot {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.ent_txt {
	margin: 15px 15px;
	margin: 0 auto;
	width: 35%;
	border: 0;
	border-bottom: 1px dashed #ccc;
}
.box3 {
	width: 100%;
	display: inline-block;
	margin-top: 29px;
}
.bx3 {
	width: 30%;
	float: left;
	text-align: center;
}
/*utilities*/

.grey {
	color: #999 !important;
}
.bricrum li {
	float: left;
	list-style: none;
	padding: 0 5px;
}
.bricrum li a {
	color: #666;
}
.bricrum {
	display: inline-block;
	padding: 0;
	text-transform: uppercase;
	font-size: 13px;
	margin-bottom: 11px;
}
.card_dotted_border {
	border-radius: 4px;
	border: 2px dashed rgb(218, 223, 227);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
	background-color: #FFFFFF;
}
.pdng35 {
	padding: 35px;
}
.bricrum {
	text-transform: uppercase;
	font-size: 13px;
	margin-bottom: 18px;
}
.card_dotted_border {
	border-radius: 4px;
	border: 2px dashed rgb(218, 223, 227);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
	background-color: #FFFFFF;
}
.pdng35 {
	padding: 35px;
}
 @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}
input:focus, select:focus, textarea:focus, button:focus {
	outline: none;
}
.wrapper {
	width: 100%;
	height: 100%;
}
.drop {
	/* width: 96%; */
    /* height: 96%; */
	border: 2px dashed #DADFE3;
	border-radius: 5px;
	overflow: hidden;
	text-align: center;
	background: white;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	margin: auto;/* position: absolute; *//* top: 0; */
    /* left: 0; */
    /* bottom: 0; */
    /* right: 0; */
}
}
.drop .cont {
	width: 500px;
	/* height: 170px; */
	color: #8E99A5;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	margin: auto;/* position: absolute; *//* top: 0; */
    /* left: 0; */
    /* bottom: 0; */
    /* right: 0; */
}
.drop .cont i {
	font-size: 400%;
	color: #8E99A5;
	position: relative;
}
.drop .cont .tit {
	font-size: 15px;
	text-transform: uppercase;
}
.drop .cont .desc {
	color: #A4AEBB;
}
.drop .cont .browse {
	text-transform: uppercase;
	width: 210px;
	margin: 0 auto;
	margin-top: 15px;
	color: white;
	padding: 12px 16px;
	border-radius: 25px;
	background: #1dc7ea;
	-webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.1);
}
.drop input {
	width: 100%;
	height: 100%;
	cursor: pointer;
	background: red;
	opacity: 0;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
#list {
	width: 100%;
	text-align: left;
	position: absolute;
	left: 0;
	top: 0;
}
#list .thumb {
	height: 75px;
	border: 1px solid #323a44;
	margin: 10px 5px 0 0;
}
.sample_txt {
	font-size: 13px;
	text-transform: uppercase;
	color: #646469;
}
.smpl_tmp {
	background: url(assets/img/icon_excel.png) no-repeat;
	width: 88px;
	height: 88px;
}
.drop .cont .browse2 {
	text-transform: uppercase !important;
	margin: 0 auto;
	margin-top: 15px;
	color: white;
	padding: 12px 16px;
}
.pdng25 {
	padding: 25px;
}
.dragbox {
	margin-bottom: 25px;
}
.bundle {
	border: 1px solid #ccc;
	width: 49%;
}
.add {
	float: right;
	background: url(../../assets/img/but_add.png) no-repeat;
	width: 31px;
	height: 31px;
	border: none
}
.title_main {
	font-size: 20px;
}
.filter_nav {
	margin-right: 5px;
	background: #f7f7f8;
	border: 1px solid #d5d5d5;
	border-radius: 4px;
	padding: 2px 10px;
}
.filter_nav li a {
	color: #848487;
	padding: 3px 5px;
}
.filter_nav li a p {
	margin: 0;
}
.filter_nav li {
	float: left;
}
.filter_nav li i {
	color: #ccc;
	margin-top: 5px;
}
.filter_drop li {
	width: 100%;
}
.filter_drop {
	width: 320px;
	padding: 6px;
}
.sample_template {
	min-height: 197px;
	text-transform: uppercase;
	font-size: 12px;
	color: #989a9c;
	font-weight: normal;
	padding: 35px 20px;
}
.mrg_bot {
	margin-bottom: 25px;
}
.recharge_but:hover {
	color: #000
}
.recharge_but {
	border: none;
	-webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.1);
	background: #1dc7ea;
	color: #fff;
	padding: 15px 28px;
	font-size: 17px;
	font-weight: bold;
	border-radius: 25px;
}
.txt25 {
	font-size: 25px;
}
.search-form .form-group {
	float: right !important;
	transition: all 0.35s, border-radius 0s;
	width: 32px;
	height: 32px;
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	border-radius: 25px;
	border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
	padding-right: 20px;
	border: 0 none;
	background: transparent;
	box-shadow: none;
	display: block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
 display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
 display: none;
}
.search-form .form-group:hover, .search-form .form-group.hover {
	width: 100%;
	border-radius: 25px;
}
.search-form .form-group span.form-control-feedback {
	position: absolute;
	top: -1px;
	right: -2px;
	z-index: 2;
	display: block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	color: #3596e0;
	left: initial;
	font-size: 14px;
}
/* side bar */
	
.side_nav li a i {
	line-height: 10px !important;
}
/* side bar */















/**
 * Circle Styles
 */

.circle {
	position: relative;
	display: block;
	margin: 2em 0;
	background-color: transparent;
	color: #222;
	text-align: center;
}
.circle:hover:after {
	-webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.6);
	-moz-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.6);
	box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.6);
	transition: all .2s ease-in-out;
	cursor: pointer;
}
.circle:after {
	display: block;
	padding-bottom: 100%;
	width: 100%;
	height: 0;
	border-radius: 50%;
	border: #dddddd 1px solid;
	background-color: #fff;
	content: "";
}
.circle__inner {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.circle__wrapper {
	display: table;
	width: 100%;
	height: 100%;
}
.circle__content {
	display: table-cell;
	padding: 1em;
	vertical-align: middle;
}
.icon_big {
	margin-bottom: 1.8em;
}
.block3 {
	padding: 3% !important;
}
 @media screen and (min-width:300px) and (max-width:768px) {
.filter_nav {
	margin-bottom: 15px;
}
.recharge_but {
	margin: auto !important;
	margin-top: 10px !important;
}
.filter_drop {
	left: -247px;
}
.icon_big img {
	width: 50% !important;
}
}
 @media (min-width: 480px) {
.circle__content {
	font-size: 1em;
}
}
 @media (min-width: 768px) {
.circle__content {
	font-size: 1.4em;
}
}
/* home*/












/* login*/


					
.bg_login {
	background: url(../../assets/img/img.jpg)  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}/*full width code*/
.pdng45 {
	padding: 45px;
}
.time {
	line-height: 1;
	font-size: 70px;
}
.time_rght {
	/*margin-right: 10%;*/
	margin-top: 50px;
	margin-bottom: 20px;
}
.wight {
	color: #fff;
}
.txt18 {
	font-size: 18px;
}
.txt15 {
	font-size: 15px;
}
.logo_login {
	width: 100%;
	text-align: center;
	margin-top:  65px;
}/*edit margin-top size*/
.form-box {
	background-color: rgba(0,0,0, .5);
	color: white;
	margin: 0 auto;
	margin-bottom: 20px;
}
.txt_center {
	text-align: center;
}
.heading {
	font-size: 35px !important;
}
.txt15 {
	font-size: 14px;
}/*reset font size*/
.submit_but {
	background: #12a5d9;
	color: #fff;
	text-transform: uppercase;
	width: 100%;
	padding: 13px 0;
	font-size: 20px;
	margin-top: 30px;
	border-radius: 50px;
}

.txt_fld {
	margin: 15px 15px;
	margin: 0 auto;
	width: 100%;
	border: 0;
	border-bottom: 1px dashed #ccc;
	padding-bottom: 10px;
}

.text-white {
	color: #fff;
	text-align: center;
}
.powerd {
	color: #3CF
}
.foot_powerdby {
	margin-right: 35px;
}

/* login*/


@media screen and (min-width:300px) and (max-width:768px) {
.foot_powerdby {
	float: none !important;
	margin: 0 auto !important;
	text-align: center;
}
@media screen and (min-width:300px) and (max-width:768px) {
.pull-right {
	float: none !important;
	margin: 0 auto !important;
	text-align: left;/*add textalign code*/
}
.pay_logo {
	margin: 0 auto !important;
}
}
 @media (min-width: 992px) {
.typo-line {
	padding-left: 140px;
	margin-bottom: 40px;
	position: relative;
}
.typo-line .category {
	transform: translateY(-50%);
	top: 50%;
	left: 0px;
	position: absolute;
}
}
.all-icons [class*="pe-"] {
	font-size: 40px;
}
.all-icons input {
	border: 0;
}
.all-icons .font-icon-detail {
	text-align: center;
	padding: 45px 0px 30px;
	border: 1px solid #e5e5e5;
	border-radius: 6px;
	margin: 15px 0;
}
.all-icons .font-icon-detail input {
	margin: 25px auto 0;
	width: 100%;
	text-align: center;
	display: block;
	color: #aaa;
	font-size: 13px;
}
#map {
	position: relative;
	width: 100%;
	height: calc(100% - 60px);
}
.places-buttons .btn {
	margin-bottom: 30px
}
.sidebar .nav > li.active-pro {
	position: absolute;
	width: 100%;
	bottom: 10px;
}
.sidebar .nav > li.active-pro a {
	background: rgba(255, 255, 255, 0.14);
	opacity: 1;
	color: #FFFFFF;
}
.table-upgrade td:nth-child(2), .table-upgrade td:nth-child(3) {
	text-align: center;
}
.pull-left {
    float: none!important;
}