body{
    font-family: 'Roboto',sans-serif;
}
*{
	box-sizing: border-box;
}
#cuppaDatePickerContainer, #cuppaDatePicker{
	width: 250px;
    text-align: center;
    margin: 0px auto;
}
.wc-date-container{
    float: left;
    width: 60%;
    height: 30px;
    border-bottom: 1px dashed #b9b9b9;
    margin-bottom: 1px;
    font-size: 16px;
    padding: 5px;
    text-align: left;
    cursor: pointer;
    background: #fff;
    line-height: 20px;
}
.wc-date-container > span{
    color: #464646;
}
.wc-date-container > i{
    float: right;
    font-size: 20px;
    color: #9c9c9c;
}
.winkel-calendar{
    position: relative;
}
.wc-date-popover{
    font-size: 14px;
    box-shadow: 0px 7px 23px 0px #e7e7e7;
    margin: 0px auto;
    perspective: 1000px;
    float: left;
    background: #fff;
    border: 1px solid #FF2D55;
    position: fixed;
    width: calc(100% - 30px);
    top: 15px;
    left: 15px;
    z-index: 9999;
    overflow: hidden;
    height: calc(100% - 30px);
}
.wc-banner{
    /* background: #3ce5ed; */
    float: left;
    width: 100%;
    margin-bottom: 5px;
    background: rgb(59, 73, 132);
}
.wc-day-row{
    padding: 10px 0px;
    background: rgba(0, 0, 0, 0.09);
    color: #fff;
    width: 100%;
    float: left;
    font-size: 18px;
}
.wc-date-row{
    display: inline-block;
    font-size: 85px;
    color: #fff;
    padding: 10px 5px;
    width: 50%;
    float: left;
    text-align: right;
    font-weight: 200;  
    line-height: 100px;  
}
.wc-month-row{
	padding: 16px 0px 0px 0px;
    font-size: 35px;
    color: #fff;
    width: 100%;
    float: left;
}
.wc-month-row > div, .wc-year-row > div{
    cursor: pointer;
}
.wc-year-row{
	text-align: left;
    color: #fff;
    font-size: 24px;
    float: left;
    width: 100%;
}
.wc-my-sec{
	display: inline-block;
	padding: 10px 10px;
	float: left;
    width: 50%;
    font-weight: 300;
}
.wc-month-row > div:nth-child(1), .wc-year-row > div:nth-child(1){
	float: left;
    text-align: left;
    line-height: 37px;
}


.wc-month-controls > .fa:hover, .wc-year-controls > .fa:hover{
	color: #fff;
}
.wc-details > .fa:hover{
    color: #ccc;
}
.wc-month-controls{
    padding: 5px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.71);
    float: right;
}
.wc-year-controls{
	padding: 2px 5px 0px 5px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.71);
    float: right;
}
.wc-year-controls > .fa , .wc-month-controls > .fa{
    cursor: pointer;
    padding: 0px 4px;
}

.wc-details{
    float: left;
    width: 100%;
    padding: 10px 0px 10px;	
    color: #fff;
    background: rgb(59, 73, 132);
    border-top: 1px solid #bdbdbd;
}
.banner-true > .wc-details{
    padding: 0px 0px 10px;	
}
.wc-prev{
	float: left;
	width:25%;
    text-align: left;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 35px;
}
.month-year{
	float: left;
	width:50%;
    font-size: 18px;
    line-height: 35px;
}
.wc-next{
	float: right;
	width:25%;
    text-align: right;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 35px;
}
.calendar-days{
	color: #07c;
    height: 200px;	
    background: #fff;
}
.today > span{
	border: 1px solid #364278;
    background: none;
    border-radius: 50px;
}
.selected-day > span{
	/*background: #3ce5ed;*/
    background: rgb(62, 75, 133);
    color: #fff;
    border-radius: 50px;
}
.calendar-header{
    background: #fff;
}

.calendar-days td{
	cursor: pointer;
}
.calendar-days td:hover > span{
	background: #364278;
    color: #fff;
    border-radius: 50px;
}
.winkel-calendar table{
	width: 100%;
	text-align: center;
    font-size: 18px;
    border-collapse: collapse;
}
.winkel-calendar table td{
	padding: 0px 0px;
    width: calc((100%)/7);
	text-align: center;
	transition: all .1s linear;
}
.winkel-calendar table td span{
    display: block;

    padding: 6px;
    margin: 0px;
    line-height: 32px;
    border-radius: 63px;
}
.calendar-header td{
    padding: 15px 0px !important;
}
.months-view, .years-view{
    background: #fff;
    position: absolute;
    width: 100%;
    top: 210px;
    width: 100%;
    height: calc(95% - 210px);
    bottom: 0;
    
}
.years-list-view{
   float: left;
   width: calc(100% - 60px);
   height: 100%;
}
.months-view > span, .years-list-view > span{
    display: inline-block;
    width: 25%;
    padding: 25px 0px;
    cursor: pointer;
    font-size: 16px;
}
.years-list-view > span{
    width: 33.3333%
}
.years-view > .prev, .years-view > .next{
    float: left;
    width: 30px;
    padding: 85px 0px;
    cursor: pointer;
    font-size: 52px;
}
.years-view > .prev:hover, .years-view > .next:hover{
    color: #ccc;
}
.years-view > .next{
    float: right;
}
.current-month, .current-year{
    color: #FF2D55;
}
.years-view > span{
    width: 33.3333%;
}
.months-view > span:hover, .years-list-view > span:hover{
    color: #FF2D55;
}
.banner-true{
    padding-top: 0px !important;
    border: none !important;
    /*margin-top: 100%;*/
    margin-top: 15%;
}
.banner-true > .wc-banner{
    margin-bottom : 0px !important;
}
.methods{
    clear: left;
    padding: 50px 0px;
    text-align: center;
}

@media (min-width: 768px) {
    .wc-date-popover{
        width: 250px;
        position: absolute;
        top: 31px;
        height: auto;
        left: 0;
    }
    .wc-day-row{
        padding: 5px 0px;
        font-size: 14px;
    }
    .wc-date-row{
        font-size: 62px;
        line-height: 65px;
        padding: 5px 5px;
    }
    .wc-my-sec{
        padding: 5px 10px;
    }
    .wc-month-row{
        padding: 6px 0px 0px 0px;
        font-size: 21px;
    }
    .wc-year-row{
        font-size: 16px;
    }
    .month-year{
        font-size: 14px;
        line-height: 20px;
    }
    .wc-month-row > div:nth-child(1), .wc-year-row > div:nth-child(1){
        line-height: 28px;
    }
    .wc-prev, .wc-next{
        font-size: 18px;
    }
    .wc-details{
        padding: 10px 0px 10px;
    }
    .calendar-header td{
        padding: 10px 0px !important;
    }
    .winkel-calendar table{
        font-size: 14px;
    }
    .winkel-calendar table td span{
        line-height: 24px;
        width: 35px;
        height: 35px;
    }
    .months-view, .years-view{
        top: 134px;
        width: 100%;
        height: calc(100% - 134px);
    }
}
